unpackaged/main/default/flows/Intercompany_Billing_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>Comment</name>
        <dataType>String</dataType>
        <expression>&quot;Intercompany Billing for &quot; + {!$Record.AcctSeed__Billing__r.AcctSeed__Customer__r.Name} + &quot; - Billing &quot; +{!$Record.AcctSeed__Billing__r.Name}</expression>
    </formulas>
    <interviewLabel>Intercompany Billing Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intercompany Billing Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing</name>
        <label>Create Billing</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Billing_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeed__Billing_Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Customer__c</field>
            <value>
                <stringValue>0015f000005YUAVAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Date__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.AcctSeed__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Ledger__c</field>
            <value>
                <stringValue>a2m3I0000002dVtQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Code_Project__c</field>
            <value>
                <elementReference>$Record.inscoras__Owner_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Invoice__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.inscoras__Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__RMA__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.inscoras__RMA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Release__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.inscoras__Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Sales_Order__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.inscoras__Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Transaction_Activity__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.inscoras__Transaction_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Lines</name>
        <label>Create Billing Lines</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeed__Billing__c</field>
            <value>
                <elementReference>Create_Billing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Comment__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Hours_Units__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Hours_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Product_Unit_Cost__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Product_Unit_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Product__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Rate__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Revenue_GL_Account__c</field>
            <value>
                <stringValue>a2i5f000000YhRN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Condition_Code__c</field>
            <value>
                <elementReference>$Record.inscoras__Condition_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Journal_Entry__c</field>
            <value>
                <elementReference>$Record.inscoras__Journal_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Order_Type__c</field>
            <value>
                <elementReference>$Record.inscoras__Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Owner_Code__c</field>
            <value>
                <elementReference>$Record.inscoras__Owner_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Release_Line__c</field>
            <value>
                <elementReference>$Record.inscoras__Release_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Serial_Number__c</field>
            <value>
                <elementReference>$Record.inscoras__Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Transaction_Activity__c</field>
            <value>
                <elementReference>$Record.inscoras__Transaction_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscoras__Warehouse__c</field>
            <value>
                <elementReference>$Record.inscoras__Warehouse__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Billing_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Line</name>
        <label>Update Line</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Intercompany_Billing_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Revenue_GL_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2i5f0000026vap</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intercompany_Billing_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Billing_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
