unpackaged/main/default/flows/OCR_Overall_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Instruction</name>
        <label>Instruction</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Instruction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Payable_Lines</targetReference>
            </connector>
            <label>Payable</label>
        </rules>
        <rules>
            <name>RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Instruction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Avsight_Voucher</targetReference>
            </connector>
            <label>RO</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProssessed</name>
        <label>isProssessed</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instruction</targetReference>
            </connector>
            <label>Processed</label>
        </rules>
    </decisions>
    <description>Created Or Updated Trigger</description>
    <environments>Default</environments>
    <interviewLabel>OCR Overall Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OCR Overall Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OCR_to_Complete</name>
        <label>Update OCR to Complete</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>pro_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isProssessed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <object>pro_OCR_Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Avsight_Voucher</name>
        <label>Call Avsight Voucher</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_OCR_to_Complete</targetReference>
        </connector>
        <flowName>Prodigy_OCR_Process_RO_Avsight_Integration</flowName>
        <inputAssignments>
            <name>OCRDocId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payable_Payable_Lines</name>
        <label>Create Payable &amp; Payable Lines</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_OCR_to_Complete</targetReference>
        </connector>
        <flowName>Prodigy_OCR_Process_Create_Payable</flowName>
        <inputAssignments>
            <name>OCRDocumentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PayableLines</assignToReference>
            <name>PayableLines</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>PayableLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
</Flow>
