unpackaged/main/default/flows/pro_Prodigy_Account_Payable_Line_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_AP_Total_Quantity</name>
        <label>Update AP Total Quantity</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Total_AP_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Related_Records.AcctSeed__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Records</targetReference>
        </connector>
    </assignments>
    <description>JP 10/07/2023 - Updates to Logic
JP 27/06/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Account Payable Line After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Account Payable Line After Create</label>
    <loops>
        <name>Loop_through_Related_Records</name>
        <label>Loop through Related Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_AP_Total_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Order_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Records</name>
        <label>Get Related Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Purchase_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Purchase_Order_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Order_Line</name>
        <label>Update Purchase Order Line</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Purchase_Order_Line__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Converted_Amount__c</field>
            <value>
                <elementReference>Total_AP_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Purchase_Order_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Purchase_Order_Line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Total_AP_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
