unpackaged/main/default/flows/pro_Prodigy_Leave_Balance_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Negative_Balance_Annual</name>
        <label>Assign Negative Balance (Annual)</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Entitelment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Year_Annual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Negative_Balance_Flexi</name>
        <label>Assign Negative Balance (Flexi)</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Entitelment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Year_Flexi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>1370</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Year_Record_Flexi.pro_Carried_Over__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_Remaining_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Next_Year_Record_Flexi.pro_Flexi_Leave_Entitlement__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_Remaining_Balance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Year_Flexi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values_Annual</name>
        <label>Assign New Values (Annual)</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Year_Record.pro_Carried_Over__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_Remaining_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Next_Year_Record.GlicW__Annual_Leave_Entitlement__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_Remaining_Balance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Positive_Balance_Annual</name>
        <label>Assign Positive Balance (Annual)</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Entitelment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Year_Annual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Positive_Balance_Flexi</name>
        <label>Assign Positive Balance (Flexi)</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Entitelment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Flexi_Leave_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Year_Flexi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_Balance_Annual</name>
        <label>Assign Zero Balance (Annual)</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Year_Annual_Zero_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_Balance_Flexi</name>
        <label>Assign Zero Balance (Flexi)</label>
        <locationX>1634</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>v_Remaining_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Year_Flexi_Zero_Balance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Leave_Type</name>
        <label>Primary Leave Type</label>
        <locationX>1304</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Annual_Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Resource__r.GlicW__Full_Time_Part_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contactor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remaining_Annual_Leave</targetReference>
            </connector>
            <label>Annual Leave</label>
        </rules>
        <rules>
            <name>Flexi_Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Resource__r.GlicW__Full_Time_Part_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contactor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remaining_Flexi_Leave</targetReference>
            </connector>
            <label>Flexi Leave</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Annual_Leave</name>
        <label>Remaining Annual Leave</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive_Balance_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Annual_Leave_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Positive_Balance_Annual</targetReference>
            </connector>
            <label>Positive Balance (Annual)</label>
        </rules>
        <rules>
            <name>Negative_Balance_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Annual_Leave_Balance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Negative_Balance_Annual</targetReference>
            </connector>
            <label>Negative Balance (Annual)</label>
        </rules>
        <rules>
            <name>Zero_Balance_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Annual_Leave_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zero_Balance_Annual</targetReference>
            </connector>
            <label>Zero Balance (Annual)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Flexi_Leave</name>
        <label>Remaining Flexi Leave</label>
        <locationX>1502</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive_Balance_Flexi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Flexi_Leave_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Positive_Balance_Flexi</targetReference>
            </connector>
            <label>Positive Balance (Flexi)</label>
        </rules>
        <rules>
            <name>Negative_Balance_Flexi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Flexi_Leave_Balance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Negative_Balance_Flexi</targetReference>
            </connector>
            <label>Negative Balance (Flexi)</label>
        </rules>
        <rules>
            <name>Zero_Balance_Flexi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Flexi_Leave_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zero_Balance_Flexi</targetReference>
            </connector>
            <label>Zero Balance (Flexi)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Next_Year_Found_Flexi</name>
        <label>Was Next Year Found (Flexi)</label>
        <locationX>1502</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Next_Year_Flexi_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Year_Record_Flexi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values</targetReference>
            </connector>
            <label>Yes - Next Year Flexi Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Next_Years_Record_Found_Annual</name>
        <label>Was Next Years Record Found (Annual)</label>
        <locationX>446</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Next_Year_Annual_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Year_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values_Annual</targetReference>
            </connector>
            <label>Yes - Next Year Annual Found</label>
        </rules>
    </decisions>
    <description>AB 30/11/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Next_Year</name>
        <dataType>Number</dataType>
        <expression>{!$Record.GlicW__Year__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Prodigy - Leave Balance Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Leave Balance Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Next_Year_Record</name>
        <label>Get Next Year Record</label>
        <locationX>446</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Next_Years_Record_Found_Annual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GlicW__Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GlicW__Leave_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Year_Record_Flexi</name>
        <label>Get Next Year Record (Flexi)</label>
        <locationX>1502</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Next_Year_Found_Flexi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>GlicW__Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GlicW__Leave_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Year_Annual</name>
        <label>Update Current Year (Annual)</label>
        <locationX>446</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Get_Next_Year_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>GlicW__Annual_Leave_Amount__c</field>
            <value>
                <elementReference>v_Current_Entitelment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Year_Flexi</name>
        <label>Update Current Year (Flexi)</label>
        <locationX>1502</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Get_Next_Year_Record_Flexi</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Flexi_Leave_Amount__c</field>
            <value>
                <elementReference>v_Current_Entitelment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Year</name>
        <label>Update Next Year</label>
        <locationX>314</locationX>
        <locationY>1308</locationY>
        <inputReference>Get_Next_Year_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Year_Annual_Zero_Balance</name>
        <label>Update Next Year (Annual Zero Balance)</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GlicW__Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Year</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Carried_Over__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>GlicW__Leave_Balance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Year_Flexi</name>
        <label>Update Next Year (Flexi)</label>
        <locationX>1370</locationX>
        <locationY>1308</locationY>
        <inputReference>Get_Next_Year_Record_Flexi</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Year_Flexi_Zero_Balance</name>
        <label>Update Next Year (Flexi Zero Balance)</label>
        <locationX>1634</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GlicW__Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Year</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Carried_Over__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>GlicW__Leave_Balance__c</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Leave_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Is_Current_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GlicW__Leave_Balance__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-12-29</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>v_Current_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Current_Entitelment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Remaining_Balance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
