unpackaged/main/default/flows/pro_Prodigy_Project_Task_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Custom_Notification</name>
        <label>Create Custom Notification</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Dates_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Project Task Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id</name>
        <label>Assign Recipient Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GlicW__Task_Owner__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dates_Changed</name>
        <label>Dates Changed?</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Two_Dates_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GlicW__Project_Milestone__r.GlicW__Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GlicW__Project_Milestone__r.GlicW__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Both_Dates</targetReference>
            </connector>
            <label>Yes - Two Dates Changed</label>
        </rules>
        <rules>
            <name>Yes_Start_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GlicW__Project_Milestone__r.GlicW__Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Start_Date</targetReference>
            </connector>
            <label>Yes - Start Date Changed</label>
        </rules>
        <rules>
            <name>Yes_End_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GlicW__Project_Milestone__r.GlicW__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_End_Date</targetReference>
            </connector>
            <label>Yes - End Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_Record_and_Do_Owners_Differ</name>
        <label>Is Existing Record and Do Owners Differ</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Dates_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Record or Existing Record with the same Owner</defaultConnectorLabel>
        <rules>
            <name>Existing_Record_and_Owners_Differ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnersDiffer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type</targetReference>
            </connector>
            <label>Existing Record and Owners Differ</label>
        </rules>
    </decisions>
    <description>AB 07/11/2023 - Updates to Logic
AB 02/08/2023 - Updates to Logic
AB 01/08/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;The following Project Task: &quot; + {!$Record.Name} + &quot; has been assigned to you by: &quot; + {!$Record__Prior.GlicW__Task_Owner__r.Name}</expression>
    </formulas>
    <formulas>
        <name>OwnersDiffer</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.GlicW__Task_Owner__c} &lt;&gt; {!$Record.GlicW__Task_Owner__c}</expression>
    </formulas>
    <interviewLabel>Prodigy - Project Task After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Project Task After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Project_Owner_on_Project_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_Both_Dates</name>
        <label>Update Milestone Both Dates</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>GlicW__End_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Start_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.GlicW__Project_Milestone__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_End_Date</name>
        <label>Update Milestone End Date</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>GlicW__End_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.GlicW__Project_Milestone__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Start_Date</name>
        <label>Update Milestone Start Date</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>GlicW__Start_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.GlicW__Project_Milestone__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Existing_Record_and_Do_Owners_Differ</targetReference>
        </connector>
        <object>GlicW__Project_Task1__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
