unpackaged/main/default/flows/pro_Prodigy_Project_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Does_existing_record_exist</name>
        <label>Does existing record exist?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Lookup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_record</targetReference>
            </connector>
            <label>Yes - Existing Record exists</label>
        </rules>
    </decisions>
    <description>JP 18/01/2024 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Project Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Project Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Existing_record</name>
        <label>Delete Existing record</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Get_Existing_Lookup_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Lookup_Record</name>
        <label>Get Existing Lookup Record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_existing_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_AS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Project_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Lookup_Record</targetReference>
        </connector>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
