unpackaged/main/default/flows/pro_Prodigy_Purchase_Order_Line_Before_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Expense_GL_Account</name>
        <label>Assign Expense GL Account</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.pro_Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Product__r.inscor__Expense_Account__r.inscoras__Acct_Seed_GL_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Purchase_Order_Currency</name>
        <label>Assign Purchase Order Currency</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Purchase_Order__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Expense_GL_Account</targetReference>
        </connector>
    </assignments>
    <description>JP 21/07/2023 - Updates to Logic
JP 06/07/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Purchase Order Line Before Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Purchase Order Line Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Purchase_Order_Currency</targetReference>
        </connector>
        <object>pro_Purchase_Order_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
