unpackaged/main/default/flows/pro_Prodigy_Rates_of_Pay_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Date_to_Null_Value</name>
        <label>Assign Date to Null Value</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>v_Latest_Effective_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Rates_of_Pay.pro_Effective_Date_of_Rate_of_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Rates_of_Pay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Effective_Date</name>
        <label>Assign New Effective Date</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>v_Latest_Effective_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Rates_of_Pay.pro_Effective_Date_of_Rate_of_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Rates_of_Pay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_Dates</name>
        <label>Compare Dates</label>
        <locationX>622</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Effective_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Latest_Effective_Greater_than_Current_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Latest_Effective_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_through_Rates_of_Pay.pro_Effective_Date_of_Rate_of_Pay__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Rates_of_Pay</targetReference>
            </connector>
            <label>Latest Effective Greater than Current Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Variable_Null</name>
        <label>Is Variable Null?</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Compare_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Value_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Latest_Effective_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_to_Null_Value</targetReference>
            </connector>
            <label>Yes - Value is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Found</name>
        <label>Was Record Found?</label>
        <locationX>182</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Rate_of_Pay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Previous_Rate_of_Pay</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Record</targetReference>
            </connector>
            <label>Yes - Record was found</label>
        </rules>
    </decisions>
    <description>AB 15/12/2023 - Updates to Logic
AB 14/12/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Rates of Pay Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Rates of Pay Scheduled</label>
    <loops>
        <name>Loop_through_Rates_of_Pay</name>
        <label>Loop through Rates of Pay</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>v_Rates_of_Pay</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Variable_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Previous_Active_Rate_of_Pay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Rate_of_Pay</name>
        <label>Get Latest Rate of Pay</label>
        <locationX>182</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Latest_Rate_of_Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Effective_Date_of_Rate_of_Pay__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Latest_Effective_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Rate_of_Pay_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Active_Rate_of_Pay</name>
        <label>Get Previous Active Rate of Pay</label>
        <locationX>182</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Is_Latest__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pro_Rate_of_Pay_Details__c</object>
        <outputReference>v_Previous_Rate_of_Pay</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Rates_of_Pay</name>
        <label>Get Related Rates of Pay</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Rates_of_Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Effective_Date_of_Rate_of_Pay__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>pro_Rate_of_Pay_Details__c</object>
        <outputReference>v_Rates_of_Pay</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pro_Effective_Date_of_Rate_of_Pay__c</queriedFields>
        <queriedFields>pro_Changed_On__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Latest_Rate_of_Pay</name>
        <label>Update Latest Rate of Pay</label>
        <locationX>182</locationX>
        <locationY>1560</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Rate_of_Pay.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Is_Latest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pro_Rate_of_Pay_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Record</name>
        <label>Update Previous Record</label>
        <locationX>50</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Get_Latest_Rate_of_Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Previous_Rate_of_Pay.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Is_Latest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>pro_Rate_of_Pay_Details__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Rates_of_Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GlicW__Resource__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-15</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_Latest_Effective_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Previous_Rate_of_Pay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Rate_of_Pay_Details__c</objectType>
    </variables>
    <variables>
        <name>v_Rates_of_Pay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Rate_of_Pay_Details__c</objectType>
    </variables>
</Flow>
