unpackaged/main/default/flows/pro_Consignment_Payable_Create_Payable_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>col_Payable_Lines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Payable_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Owner_Code_Adjustments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payable_Line_Values</name>
        <label>Assign Payable Line Values</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_Payable_Line.AcctSeed__Account_Payable__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Payable_Line.AcctSeed__Account_Payable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payable_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>rcs_GL_Account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>10505</stringValue>
            </value>
        </filters>
        <object>inscor__GL_Account__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Consignment Payable - Create Payable Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consignment Payable - Create Payable Screen Flow</label>
    <loops>
        <name>Loop_Owner_Code_Adjustments</name>
        <label>Loop Owner Code Adjustments</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Owner_Adjustments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payable_Line_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payable_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payable_Lines</name>
        <label>Create Payable Lines</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>col_Payable_Lines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Record</name>
        <label>Create Payable Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Owner_Adjustments</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeed__Accounting_Period__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Closed_Accounting_Period__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Credit_Memo_Applied_Amount__c</field>
        </inputAssignments>
        <object>AcctSeed__Account_Payable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Owner_Adjustments</name>
        <label>Get Owner Adjustments</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Owner_Code_Adjustments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Consignor_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Owner_Code_Adjustment__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Payable_Screen</name>
        <label>Create Payable Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Payable_Record</targetReference>
        </connector>
        <fields>
            <name>Display_Consignment_Payable</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Consignor Payable Name: {!recordId.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Payable Name: {!recordId.inscor__Payable_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Consignor Payable: {!recordId.inscor__Total_Consignor_Payable__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_GL_Account</name>
            <choiceReferences>rcs_GL_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select GL Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Payable_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_Payable_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Consignor_Payable__c</objectType>
    </variables>
    <variables>
        <name>var_Payable_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
</Flow>
