unpackaged/main/default/flows/pro_Send_Email_Notification_When_the_Expiration_Date_of_Approval_Arrives.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification_2_Weeks_Prior_to_Expiry</name>
        <label>Send Email Notification 2 Weeks Prior to Expiry</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>isil.kaya@weareprodigy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject2WeeksPrior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2WeeksPrior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification_on_Expired_Approval</name>
        <label>Send Email Notification on Expired Approval</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sfadmin@weareprodigy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectOnExpirationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyOnExpirationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>How_Many_Days_Left_Until_Expiration</name>
        <label>How Many Days Left Until Expiration?</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Days_Left_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification_2_Weeks_Prior_to_Expiry</targetReference>
            </connector>
            <label>14</label>
        </rules>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Days_Left_Until_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification_on_Expired_Approval</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <description>Isil Kaya - Created by Prodigy.</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Send Email Notification When the Expiration Date of Approval Arrives {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Send Email Notification When the Expiration Date of Approval Arrives</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Many_Days_Left_Until_Expiration</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND ( 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>pro_Days_Left_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>pro_Days_Left_Until_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Unapprove_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO</stringValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Unapprove_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RO</stringValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Unapprove_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO;RO</stringValue>
            </value>
        </filters>
        <object>inscor__Account_Approvals__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-22</startDate>
            <startTime>11:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody2WeeksPrior</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi there!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Approval &lt;/span&gt;&lt;a href=&quot;{!$Label.pro_Org_URL}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; for &lt;/span&gt;&lt;a href=&quot;{!$Label.pro_Org_URL}/{!$Record.inscor__Account__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.inscor__Account__r.Name}&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.inscor__Unapprove_Type__c} for {!$Record.inscor__Approval_Type1__c} will expire in 2 weeks.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Approval Date: {!$Record.inscor__Approval_Date__c}&lt;/p&gt;&lt;p&gt;Expiration Date: {!$Record.inscor__Expiration_Date__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyOnExpirationDate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi there!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Approval &lt;/span&gt;&lt;a href=&quot;{!$Label.pro_Org_URL}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; for &lt;/span&gt;&lt;a href=&quot;{!$Label.pro_Org_URL}/{!$Record.inscor__Account__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.inscor__Account__r.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.inscor__Unapprove_Type__c} for {!$Record.inscor__Approval_Type1__c} expired today.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Approval Date: {!$Record.inscor__Approval_Date__c}&lt;/p&gt;&lt;p&gt;Expiration Date: {!$Record.inscor__Expiration_Date__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject2WeeksPrior</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.inscor__Account__r.Name} {!$Record.inscor__Unapprove_Type__c} approval for {!$Record.inscor__Approval_Type1__c} will expire in 2 weeks</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectOnExpirationDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.inscor__Account__r.Name} {!$Record.inscor__Unapprove_Type__c} approval for {!$Record.inscor__Approval_Type1__c} expired</text>
    </textTemplates>
</Flow>
