unpackaged/main/default/flows/pro_Prodigy_Project_Milestone_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_New_Asignee</name>
        <label>Notify New Asignee</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>v_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Project Milestone has been Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>f_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id</name>
        <label>Assign Recipient Id</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>v_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pro_Milestone_Assigned_To__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_New_Asignee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Changes</name>
        <label>Date Changes</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Was_Someone_assigned_to_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Dates_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GlicW__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GlicW__Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Task</targetReference>
            </connector>
            <label>Both Dates Changed</label>
        </rules>
        <rules>
            <name>Start_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GlicW__Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Task_Start_Date</targetReference>
            </connector>
            <label>Start Date Changed</label>
        </rules>
        <rules>
            <name>End_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GlicW__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Task_End_Date</targetReference>
            </connector>
            <label>End Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Someone_assigned_to_Milestone</name>
        <label>Was Someone assigned to Milestone</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Someone_was_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Asignee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>Yes - Someone was assigned</label>
        </rules>
    </decisions>
    <description>AB 07/11/2023 - Updates to Logic
AB 24/10/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Asignee</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.pro_Milestone_Assigned_To__c})</expression>
    </formulas>
    <formulas>
        <name>f_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The following Project Milestone: &quot; + {!$Record.Name} + &quot; has been assigned to you.&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Days</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.GlicW__End_Date__c} - {!$Record__Prior.GlicW__Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_EndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.GlicW__Start_Date__c} + {!f_Days}</expression>
    </formulas>
    <formulas>
        <name>f_StartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.GlicW__End_Date__c} - {!f_Days}</expression>
    </formulas>
    <interviewLabel>Prodigy - Project Milestone After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Project Milestone After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Project_Owner_on_Project_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Was_Someone_assigned_to_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Project_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GlicW__End_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Start_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Project_Task1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Task_End_Date</name>
        <label>Update Project Task (End Date)</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Was_Someone_assigned_to_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Project_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GlicW__End_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Project_Task1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Task_Start_Date</name>
        <label>Update Project Task (Start Date)</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Was_Someone_assigned_to_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Project_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GlicW__Start_Date__c</field>
            <value>
                <elementReference>$Record.GlicW__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Project_Task1__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Changes</targetReference>
        </connector>
        <object>GlicW__Project_Milestone1__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
