unpackaged/main/default/flows/pro_Prodigy_HR_Document_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>AB 04/08/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - HR Document After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - HR Document After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Document_Links</name>
        <label>Get Document Links</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_HR_Docs__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>pro_HR_Doc_Link__c</object>
        <outputReference>DocumentLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pro_HR_Link_I_Accept__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Links</name>
        <label>Update Document Links</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_HR_Document</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_HR_Link_I_Accept__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.pro_HR_Doc_Links__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HR_Document</name>
        <label>Update HR Document</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pro_Notify_Users_of_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Links</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Notify_Users_of_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pro_HR_Doc__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_HR_Doc_Link__c</objectType>
    </variables>
</Flow>
