unpackaged/main/default/flows/pro_Prodigy_Accounting_Variable_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Does_Existing_Variable_Exist</name>
        <label>Does Existing Variable Exist?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Variable_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lookup_Variable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Lookup_Variable</targetReference>
            </connector>
            <label>Yes - Existing Variable Exists</label>
        </rules>
    </decisions>
    <description>JP 18/01/2024 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Accounting Variable Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Accounting Variable Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Existing_Lookup_Variable</name>
        <label>Delete Existing Lookup Variable</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Get_Related_Lookup_Variable</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_Lookup_Variable</name>
        <label>Get Related Lookup Variable</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Existing_Variable_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_AS_Accounting_Variable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Variable_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Lookup_Variable</targetReference>
        </connector>
        <object>AcctSeed__Accounting_Variable__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
