unpackaged/main/default/flows/pro_Prodigy_Carried_Over_Leave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Value_to_Leave_Balance</name>
        <label>Assign Value to Leave Balance</label>
        <locationX>264</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_all_Annual_leaves</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Annual_Leave_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Annual_leaves</targetReference>
        </connector>
    </assignments>
    <description>AB 15/11/2023 - prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Carried Over Leave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Carried Over Leave</label>
    <loops>
        <name>Loop_Through_all_Annual_leaves</name>
        <label>Loop Through all Annual leaves</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <collectionReference>var_AllAnnualLeave</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_Leave_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leave_Balance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Leave_Balance</name>
        <label>Update Leave Balance</label>
        <locationX>176</locationX>
        <locationY>552</locationY>
        <inputAssignments>
            <field>GlicW__Annual_Leave_Entitlement__c</field>
            <value>
                <elementReference>Loop_Through_all_Annual_leaves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Year__c</field>
            <value>
                <numberValue>2024.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_all_Annual_leaves</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Carried_Over__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GlicW__Leave_Balance__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-16</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_AllAnnualLeave</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
