unpackaged/main/default/flows/pro_Rebate_Created_Update_After_Save_Update_Rebate_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Rebate_Rate_Values</name>
        <label>Assign Rebate Rate Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_RebateRate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rebate_Rates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RebateRate.pro_Rebate_Calculation_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rebate_Rates.pro_Rebate_Calculation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Rebate_Rates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RebateRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Rebate_Rates</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Rebate - Created/Update After Save - Update Rebate Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rebate - Created/Update After Save - Update Rebate Rates</label>
    <loops>
        <name>Loop_Rebate_Rates</name>
        <label>Loop Rebate Rates</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Rebate_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rebate_Rate_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Rebate_Rates_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rebate_Rates</name>
        <label>Get Rebate Rates</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Rebate_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Rebate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Rebate_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rebate_Rates_Collection</name>
        <label>Update Rebate Rates Collection</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>col_Rebate_Rates</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rebate_Rates</targetReference>
        </connector>
        <object>pro_Rebate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Rebate_Rates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Rebate_Rate__c</objectType>
    </variables>
    <variables>
        <name>var_RebateRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Rebate_Rate__c</objectType>
    </variables>
</Flow>
