unpackaged/main/default/flows/pro_Prodigy_HR_Doc_Link_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User_of_Change</name>
        <label>Notify User of Change</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipeintIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Document Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Ids</name>
        <label>Assign Recipient Ids</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecipeintIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pro_Employee__r.GlicW__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_User_of_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Document_been_accepted</name>
        <label>Has Document been accepted?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Was_Document_Previously_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Document_has_been_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_HR_Link_I_Accept__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acceptance_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Document has been accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Document_Previously_Accepted</name>
        <label>Was Document Previously Accepted</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Document was not previously accepted</defaultConnectorLabel>
        <rules>
            <name>Document_was_previously_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.pro_HR_Link_I_Accept__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_HR_Link_I_Accept__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Accepted_Date</targetReference>
            </connector>
            <label>Document was previously accepted</label>
        </rules>
    </decisions>
    <description>AB 20/06/2023 - Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Prodigy - HR Doc Link - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - HR Doc Link - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Custom_notification_HR_Docs</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Accepted_Date</name>
        <label>Clear Accepted Date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Acceptance_Date__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acceptance_Date</name>
        <label>Update Acceptance Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>pro_Acceptance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Document_been_accepted</targetReference>
        </connector>
        <object>pro_HR_Doc_Link__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}  has been updated and must be accepted again.</text>
    </textTemplates>
    <variables>
        <name>RecipeintIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
