unpackaged/main/default/flows/pro_Create_Owner_Adjustment_Records_for_Each_Payable_Line_When_Payable_is_Po.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Owner_Code_Adjustmet_Collection</name>
        <label>Add to Owner Code Adjustmet Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerCodeAdjustments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOwnerCodeAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Payable_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Code_Adjustment_Values</name>
        <label>Assign Owner Code Adjustment Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.AcctSeed__Account_Payable__r.Ledger_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.AcctSeed__Account_Payable__r.AcctSeed__Payee_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.AcctSeed__Account_Payable__r.AcctSeed__Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Adjustment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.AcctSeed__Account_Payable__r.AcctSeed__Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Doc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RO_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Owner_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.Owner_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Payabe_TotalAmount_Converted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.pro_Owner_Code_Adjustment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.inscor__Update_Owner_Code_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCodeAdjustment.pro_Payable_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Payable_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Owner_Code_Adjustmet_Collection</targetReference>
        </connector>
    </assignments>
    <description>Isil Kaya - Created by Prodigy.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Payabe_TotalAmount_Converted</name>
        <dataType>Currency</dataType>
        <expression>IF(ISPICKVAL({!Loop_Through_Payable_Lines.CurrencyIsoCode}, &quot;USD&quot;) , {!Loop_Through_Payable_Lines.AcctSeed__Amount__c}, {!Loop_Through_Payable_Lines.AcctSeed__Amount__c} /  {!Loop_Through_Payable_Lines.AcctSeed__Account_Payable__r.AcctSeed__Currency_Conversion_Rate__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_RO_Number</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_Payable_Lines.PRO_Repair_Order__r.Name}</expression>
    </formulas>
    <interviewLabel>Prodigy - Create Owner Adjustment Records for Each Payable Line When Payable is Posted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Create Owner Adjustment Records for Each Payable Line When Payable is Posted</label>
    <loops>
        <name>Loop_Through_Payable_Lines</name>
        <label>Loop Through Payable Lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Payable_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owner_Code_Adjustment_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Owner_Code_Adjustment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Owner_Code_Adjustment_Records</name>
        <label>Create Owner Code Adjustment Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>OwnerCodeAdjustments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payable_Lines</name>
        <label>Get Payable Lines</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Payable_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Owner_Code_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Account_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Owner_Code_Adjustment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payable_Lines</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <object>AcctSeed__Account_Payable__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerCodeAdjustments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Owner_Code_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>varOwnerCodeAdjustment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Owner_Code_Adjustment__c</objectType>
    </variables>
</Flow>
