unpackaged/main/default/flows/pro_Prodigy_Payable_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Does_Payable_have_Related_Lines</name>
        <label>Does Payable have Related Lines</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Payable does not have Related Lines</defaultConnectorLabel>
        <rules>
            <name>Payable_has_Related_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Payable_Lines</targetReference>
            </connector>
            <label>Payable has Related Lines</label>
        </rules>
    </decisions>
    <description>JP 05/07/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Payable Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Payable Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Payable_Lines</name>
        <label>Delete Payable Lines</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>RelatedLines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_Payable_Lines</name>
        <label>Get Related Payable Lines</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Payable_have_Related_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Purchase_Order_Line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <outputReference>RelatedLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pro_Purchase_Order_Line__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Payable_Lines</targetReference>
        </connector>
        <object>AcctSeed__Account_Payable__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RelatedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
</Flow>
