unpackaged/main/default/flows/PRO_AP_Line_AFTER_SAVE_Create_Owner_Code_Adjustment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>This piece of automation is designed to automatically create an Owner Code Adjustment record for each AP Line related to the 19999 or 10505 GL accounts. This will cut down on the amount of double data entry by the Finance team.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Payabe_TotalAmount_Converted</name>
        <dataType>Currency</dataType>
        <expression>IF(ISPICKVAL({!$Record.CurrencyIsoCode}, &quot;USD&quot;) , {!$Record.AcctSeed__Amount__c}, {!$Record.AcctSeed__Amount__c} / {!$Record.AcctSeed__Account_Payable__r.AcctSeed__Currency_Conversion_Rate__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_RO_Number</name>
        <dataType>String</dataType>
        <expression>{!$Record.PRO_Repair_Order__r.Name}</expression>
    </formulas>
    <interviewLabel>AP Line - AFTER SAVE - Create Owner Code Adjustment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Line - AFTER SAVE - Create Owner Code Adjustment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Owner_Code_Adjustment</name>
        <label>Create Owner Code Adjustment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Owner_Code_Adjustment</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.Ledger_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Payee_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Account__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Adjustment_Date__c</field>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Description__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Doc__c</field>
            <value>
                <elementReference>f_RO_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Owner_Code__c</field>
            <value>
                <elementReference>$Record.Owner_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Total_Amount__c</field>
            <value>
                <elementReference>f_Payabe_TotalAmount_Converted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Type__c</field>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Update_Owner_Code_Cost__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inscor__Owner_Code_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Owner_Code_Adjustment</name>
        <label>Update Owner Code Adjustment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Owner_Code_Adjustment__c</field>
            <value>
                <elementReference>Create_Owner_Code_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Owner_Code_Adjustment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Create_Owner_Code_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
