unpackaged/main/default/flows/Prodigy_Remote_Work_Request_Before_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Record</name>
        <label>Approve Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Display_Remote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Remote_Request_Process</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>AB 27/10/2023 - Updates to Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>ListViewRedirect</name>
        <dataType>String</dataType>
        <expression>{!OrgDomainURL} + &quot;lightning/o/Remote_Work_Request__c/list?filterName=00B8X00000A1qfDUAR&quot;</expression>
    </formulas>
    <formulas>
        <name>OrgDomainURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_470}, FIND(&#39;/services&#39;, {!$Api.Partner_Server_URL_470}))</expression>
    </formulas>
    <formulas>
        <name>RecordRedirect</name>
        <dataType>String</dataType>
        <expression>{!OrgDomainURL} + {!RecordId}</expression>
    </formulas>
    <interviewLabel>Prodigy_Remote_work_Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Remote Work Request Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Remote_Record</name>
        <label>Create Remote Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Approve_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Comment__c</field>
            <value>
                <elementReference>RemoteWork.pro_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Employee_Remote_Request__c</field>
            <value>
                <elementReference>Ger_Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_End_Date__c</field>
            <value>
                <elementReference>RemoteWork.pro_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Start_Date__c</field>
            <value>
                <elementReference>RemoteWork.pro_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Remote_Work_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Ger_Employee</name>
        <label>Ger Employee</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Remote_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GlicW__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Remote</name>
        <label>Display Remote</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Your Remote Request has been Created and Submitted for Approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!ListViewRedirect}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Return to List&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!RecordRedirect}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go to Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreentoSubmit</name>
        <label>ScreentoSubmit</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ger_Employee</targetReference>
        </connector>
        <fields>
            <name>ScreentoSubmit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreentoSubmit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RemoteWork.pro_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RemoteWork.pro_End_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RemoteWork.pro_Employee_Remote_Request__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreentoSubmit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RemoteWork.pro_Comment__c</objectFieldReference>
                </fields>
                <fields>
                    <name>SubmitRemoteWork</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Submit for Approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RemoteWork.pro_Employee_Remote_Request__r.GlicW__User__r.Profile.Id</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2F00e5f000001U1I8</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreentoSubmit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemoteWork</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Remote_Work_Request__c</objectType>
    </variables>
</Flow>
