unpackaged/main/default/flows/Prodigy_ORS_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_AVH_GL_Account</name>
        <label>Assign AVH GL Account</label>
        <locationX>1722</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GL_for_AVH.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Broker_GL_Account</name>
        <label>Assign Broker GL Account</label>
        <locationX>1986</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GL_for_Brokered.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Default_GL</name>
        <label>Assign Default GL</label>
        <locationX>2514</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_GL.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Description2</name>
        <label>Assign Description</label>
        <locationX>2184</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempGoodsDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Releases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description_substitute_desc</name>
        <label>Assign Description substitute desc</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description_substitute_desc2</name>
        <label>Assign Description substitute desc</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DHL_RO_Description</name>
        <label>Assign DHL RO Description</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Receipt.inscor__Repair_Order__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_had_RO_with_no_AVH_or_Broker</name>
        <label>Assign GL had RO with no AVH or Broker</label>
        <locationX>2250</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_GL_10505.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Original_Part_Number</name>
        <label>Assign Original Part Number</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>OriginalPartOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RO_Line.inscor__Original_Part_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RO_Line.inscor__Original_Inventory_Line__r.inscor__Owner_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Create_Owner_Code_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pro_Owner_Code_Adjustment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_regular_Description</name>
        <label>Assign regular Description</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempGoodsDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_regular_Description2</name>
        <label>Assign regular Description</label>
        <locationX>1106</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempGoodsDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLS_OriginalPartNumber_Varible</name>
        <label>Assign RLS OriginalPartNumber Varible</label>
        <locationX>1898</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>OriginalPartOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RLS_RO_Line.inscor__Original_Part_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RLS_RO_Line.inscor__Original_Inventory_Line__r.inscor__Owner_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Create_Owner_Code_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pro_Owner_Code_Adjustment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RLS_RO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLS_RO</name>
        <label>Assign RLS RO</label>
        <locationX>2030</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>$Record.PRO_Repair_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RLS_RO_Line.inscor__Repair_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_Part_Number_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLS_temp_description</name>
        <label>Assign RLS- temp description</label>
        <locationX>2184</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>tempGoodsDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Goods_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Description2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLs_temp_Description2</name>
        <label>Assign RLs- temp Description</label>
        <locationX>3042</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>tempGoodsDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>substituteRLS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO</name>
        <label>Assign RO</label>
        <locationX>446</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.PRO_Repair_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_RO_Line.inscor__Repair_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_Part_Number_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_description</name>
        <label>Assign RO- temp description</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>tempGoodsDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Goods_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Length_Ro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_Description_RLS</name>
        <label>Assign RO temp Description</label>
        <locationX>1634</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempSubstitute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_Description_RLS2</name>
        <label>Assign RO temp Description</label>
        <locationX>2778</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempSubstitute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_Description_to_RLS_record</name>
        <label>Assign RO- temp Description to RLS record</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endsWithCorrectRO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_Description_to_RLS_record_RLS</name>
        <label>Assign RO- temp Description to RLS record</label>
        <locationX>2514</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endsWithCorrectRO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Retrieve_RO_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_temp_Description_to_RLS_record_RLS2</name>
        <label>Assign RO temp Description to RLS record</label>
        <locationX>2778</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TempGoodsDescription2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endsWithIncorrectRO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RO_temp_Description_RLS2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_GL_Account</name>
        <label>Assign SO GL Account</label>
        <locationX>1458</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GL_for_SO.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_temp_Description</name>
        <label>Assign RO temp Description</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>tempGoodsDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>substituteRODescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Length_RO2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_RO_temp_Description_to_RLS_record</name>
        <label>Assign RO temp Description to RLS record</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TempGoodsDescription2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endsWithIncorrectRO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RO_temp_Description_RLS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Description</name>
        <label>Assign Description</label>
        <locationX>3042</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordFromDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempGoodsDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Releases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>filterGoodDescription_Assign</name>
        <label>filterGoodDescription</label>
        <locationX>1986</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>filteredGoodDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Goods_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredGoodDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filterGoodDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredGoodDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filterGoodDescription2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pro_Goods_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredGoodDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Goods_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_RO</name>
        <label>Contains RO</label>
        <locationX>1777</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_RLS_temp_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_RO_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RO-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RO_temp_Description_to_RLS_record</targetReference>
            </connector>
            <label>Contains RO-</label>
        </rules>
        <rules>
            <name>Contains_RO_outcome2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_RO_temp_Description_to_RLS_record</targetReference>
            </connector>
            <label>Contains RO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_RO2</name>
        <label>Contains RO</label>
        <locationX>2778</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_RLs_temp_Description2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_RO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RO-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RO_temp_Description_to_RLS_record_RLS</targetReference>
            </connector>
            <label>Contains RO-</label>
        </rules>
        <rules>
            <name>Contains_RO4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RO_temp_Description_to_RLS_record_RLS2</targetReference>
            </connector>
            <label>Contains RO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depends on the value at the start of the Goods description. Currently nothing is done on SO but left in for future set up</description>
        <name>Goods_Description</name>
        <label>Goods Description</label>
        <locationX>1986</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Original_Part_Number_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DHL_Express_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Vendor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DHL Express</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Receipt</targetReference>
            </connector>
            <label>DHL Express Account</label>
        </rules>
        <rules>
            <name>RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RO-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RO_temp_description</targetReference>
            </connector>
            <label>RO-</label>
        </rules>
        <rules>
            <name>RO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_temp_Description</targetReference>
            </connector>
            <label>RO</label>
        </rules>
        <rules>
            <name>RLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RLS-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_RO</targetReference>
            </connector>
            <label>RLS-</label>
        </rules>
        <rules>
            <name>RLS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_RO2</targetReference>
            </connector>
            <label>RLS</label>
        </rules>
        <rules>
            <name>SO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SO-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_Part_Number_Decision</targetReference>
            </connector>
            <label>SO-</label>
        </rules>
        <rules>
            <name>SO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_Part_Number_Decision</targetReference>
            </connector>
            <label>SO</label>
        </rules>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RO_Populated</name>
        <label>Is RO Populated</label>
        <locationX>2184</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Original_Part_Number_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Releases.inscor__Repair_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_RLS_RO_Line</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Length_Ro</name>
        <label>Length Ro-</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_regular_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;=8</defaultConnectorLabel>
        <rules>
            <name>X8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoodsDescriptionLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Description_substitute_desc</targetReference>
            </connector>
            <label>&gt;8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Length_RO2</name>
        <label>Length RO</label>
        <locationX>974</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_regular_Description2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;=7</defaultConnectorLabel>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoodsDescriptionLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Description_substitute_desc2</targetReference>
            </connector>
            <label>&gt; 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Part_Number_Decision</name>
        <label>Original Part Number Decision</label>
        <locationX>1986</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Get_Default_GL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>SO_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Goods_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GL_for_SO</targetReference>
            </connector>
            <label>SO Record</label>
        </rules>
        <rules>
            <name>Contains_AVH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginalPartOwner</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AVH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GL_for_AVH</targetReference>
            </connector>
            <label>Contains AVH</label>
        </rules>
        <rules>
            <name>Contains_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginalPartOwner</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GL_for_Brokered</targetReference>
            </connector>
            <label>Contains Broker</label>
        </rules>
        <rules>
            <name>RO_with_No_AVH_or_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRO_Repair_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_GL_10505</targetReference>
            </connector>
            <label>RO with No AVH or Broker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Part_Number_Populated</name>
        <label>Original Part Number Populated</label>
        <locationX>446</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Assign_RO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>OLPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_RO_Line.inscor__Original_Part_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Original_Part_Number</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>RLS_Original_Part_Number_Populated</name>
        <label>RLS Original Part Number Populated</label>
        <locationX>2030</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Assign_RLS_RO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_RLS_RO_Line.inscor__Original_Part_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RLS_OriginalPartNumber_Varible</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>CC - added &quot;=&quot; to filterGoodDescription</description>
    <environments>Default</environments>
    <formulas>
        <name>endsWithCorrectRO</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.pro_Goods_Description__c}, 8)</expression>
    </formulas>
    <formulas>
        <name>endsWithIncorrectRO</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.pro_Goods_Description__c}, 7)</expression>
    </formulas>
    <formulas>
        <name>filterGoodDescription</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TRIM(UPPER({!$Record.pro_Goods_Description__c})), &quot;,&quot; , &quot;&quot;),&quot;/&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;:&quot;,&quot;&quot;),&quot;;&quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;#&quot;,&quot;&quot;),&quot;=&quot;,&quot;&quot;),&quot;R0&quot;,&quot;RO&quot;)</expression>
    </formulas>
    <formulas>
        <name>filterGoodDescription2</name>
        <dataType>String</dataType>
        <expression>IF(FIND(&quot;RLS&quot;,{!filteredGoodDescription}) &gt; 0, 
MID({!filteredGoodDescription}, FIND(&quot;RLS&quot;,{!filteredGoodDescription}), 8), 
MID({!filteredGoodDescription}, FIND(&quot;RO&quot;,{!filteredGoodDescription}), 7))</expression>
    </formulas>
    <formulas>
        <name>GoodsDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!tempGoodsDescription}, 8)</expression>
    </formulas>
    <formulas>
        <name>GoodsDescriptionLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.pro_Goods_Description__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>substituteRLS</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.pro_Goods_Description__c}, &quot;RLS&quot;, &quot;RLS-&quot;)</expression>
    </formulas>
    <formulas>
        <name>substituteRODescription</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.pro_Goods_Description__c}, &quot;RO&quot;, &quot;RO-&quot;)</expression>
    </formulas>
    <formulas>
        <name>Substitutes</name>
        <dataType>String</dataType>
        <expression>LEFT({!tempGoodsDescription},FIND(&quot;-&quot;, {!tempGoodsDescription}, FIND(&quot;-&quot;, {!tempGoodsDescription}) + 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>tempSubstitute</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!TempGoodsDescription2}, &quot;RO&quot;, &quot;RO-&quot;)</expression>
    </formulas>
    <interviewLabel>Prodigy - ORS Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_GL</name>
        <label>Get Default GL - 40301</label>
        <locationX>2514</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_GL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>40301</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_GL_10505</name>
        <label>Get Default GL - 10505</label>
        <locationX>2250</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_GL_had_RO_with_no_AVH_or_Broker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>10505</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GL_for_AVH</name>
        <label>Get GL for AVH - 19999</label>
        <locationX>1722</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AVH_GL_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>19999</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GL_for_Brokered</name>
        <label>Get GL for Brokered - 40301</label>
        <locationX>1986</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Broker_GL_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>40301</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GL_for_SO</name>
        <label>Get GL for SO - 40301</label>
        <locationX>1458</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SO_GL_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>40301</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt</name>
        <label>Get Receipt</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DHL_RO_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__AWB_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Goods_Description__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Releases</name>
        <label>Get Releases</label>
        <locationX>2184</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RO_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordFromDescription</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_RLS_RO_Line</name>
        <label>Retrieve RLS RO Line</label>
        <locationX>2030</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RLS_Original_Part_Number_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Repair_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Releases.inscor__Repair_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_RO_Line</name>
        <label>Retrieve RO Line</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Part_Number_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Repair_Order_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordFromDescription</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1860</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>filterGoodDescription_Assign</targetReference>
        </connector>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>filteredGoodDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalPartOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordFromDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempGoodsDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempGoodsDescription2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
