unpackaged/main/default/flows/Prodigy_Update_ORS_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Accounting_Period</name>
        <label>Assign Accounting Period</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>updatedPayable.AcctSeed__Accounting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Comment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comment</name>
        <label>Assign Comment</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>updatedPayable.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mergedComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPayable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payable_Line_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accounting_Period_found</name>
        <label>Accounting Period found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Period</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Update ORS Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Update OCR Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounting_Period_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeed__Account_Payable__r.AcctSeed__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Accounting_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payable_Header</name>
        <label>Update Payable Header</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <inputReference>updatedPayable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payable_Line_Comment</name>
        <label>Update Payable Line Comment</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Payable_Header</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>mergedComment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounting_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Consignor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Consignee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>mergedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.pro_Consignor__c} to {!$Record.pro_Consignee__c}</text>
    </textTemplates>
    <variables>
        <name>updatedPayable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable__c</objectType>
    </variables>
</Flow>
