unpackaged/main/default/flows/Prodigy_Update_RO_Feature_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_New_Exp_CC</name>
        <label>Assign New Exp CC</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Expected_Part_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedConditionCodeInput.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Values</name>
        <label>Assign Screen Values</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Quote_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckQuoteReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Quote_Approved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckQuoteApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Expected_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckExpectedDelivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Initial_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckInitialUnitRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Final_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckFinalUnitRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Part_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckPartCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Labor_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckLabor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Internal_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__External_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Rows.inscor__Expected_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullCheckExpPN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Selected_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Expected_CC_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Line_s</name>
        <label>Assign Selected Line&#39;s</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DefaultedLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_RO_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RO_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Lines</name>
        <label>Count Lines</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NumberOfLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_RO_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_1_Line</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Date_Finance_Mass_Update</name>
        <label>Date/Finance Mass Update?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Datatable_Edited_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Updated</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mass_Update_RO_Dates_Financials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Selected_Rows</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Expected_CC_Null</name>
        <label>Is Expected CC Null?</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Selected_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpectedConditionCodeInput.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Exp_CC</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Line</name>
        <label>More than 1 Line?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_RO_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Line_s</targetReference>
            </connector>
            <label>1 Line</label>
        </rules>
    </decisions>
    <description>Updated to incorporate unofficial Salesforce datatable. Redid approach</description>
    <environments>Default</environments>
    <formulas>
        <name>ExternalComments</name>
        <dataType>String</dataType>
        <expression>{!External_Comments} + &quot; &quot; + {!Loop_Over_Selected_Rows.inscor__External_Comments_rt__c}</expression>
    </formulas>
    <formulas>
        <name>InternalComments</name>
        <dataType>String</dataType>
        <expression>{!Internal_Comments} + &quot; &quot;+ {!Loop_Over_Selected_Rows.inscor__Internal_Comments_rt__c}</expression>
    </formulas>
    <formulas>
        <name>NullCheckExpectedDelivery</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!Expected_Delivery_Date}), {!Loop_Over_Selected_Rows.inscor__Expected_Delivery_Date__c}, {!Expected_Delivery_Date})</expression>
    </formulas>
    <formulas>
        <name>NullCheckExpPN</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!ExpectedPN.recordId}), {!Loop_Over_Selected_Rows.inscor__Expected_Product__r.Id}, {!ExpectedPN.recordId})</expression>
    </formulas>
    <formulas>
        <name>NullCheckFinalUnitRep</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Final_Unit_Repair_Cost}), {!Loop_Over_Selected_Rows.inscor__Final_Unit_Repair_Cost__c}, {!Final_Unit_Repair_Cost})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NullCheckInitialUnitRep</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Initial_Unit_Repair_Cost}),{!Loop_Over_Selected_Rows.inscor__Initial_Unit_Repair_Cost__c}, {!Initial_Unit_Repair_Cost})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NullCheckLabor</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Labor_Cost}), {!Loop_Over_Selected_Rows.inscor__Labor_Cost__c}, {!Labor_Cost})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NullCheckPartCost</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Part_Cost}), {!Loop_Over_Selected_Rows.inscor__Part_Cost__c}, {!Part_Cost})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NullCheckQuoteApproved</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!Quote_Approved_Date}) , {!Loop_Over_Selected_Rows.inscor__Quote_Approved_Date__c},{!Quote_Approved_Date})</expression>
    </formulas>
    <formulas>
        <name>NullCheckQuoteReceived</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!Quote_Received_Date}) , {!Loop_Over_Selected_Rows.inscor__Quote_Received_Date__c},{!Quote_Received_Date})</expression>
    </formulas>
    <interviewLabel>Prodigy - Update RO Feature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Update RO Feature V2</label>
    <loops>
        <name>Loop_Over_Selected_Rows</name>
        <label>Loop Over Selected Rows</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>ROLineDatatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Screen_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ROL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_RO_Lines</name>
        <label>Get Related RO Lines</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Repair_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <sortField>inscor__Line_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Datatable_Edited_Rows</name>
        <label>Update Datatable Edited Rows</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Copy_1_of_Refresh_Page</targetReference>
        </connector>
        <inputReference>ROLineDatatable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROL</name>
        <label>Update ROL</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <inputReference>ROLToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_RO_Screen</name>
        <label>Update RO Screen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Date_Finance_Mass_Update</targetReference>
        </connector>
        <fields>
            <name>ROLineDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>inscor__Repair_Order_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>inscor__Repair_Order_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_RO_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>inscor__Expected_Part_Serial__c:true, inscor__Expected_Part_Condition__r_lookup:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>inscor__Line_Number__c,inscor__Original_Inventory_Line__c,Inventory_Price__c,inscor__Original_Product__c,pro_Expected_Part_Number__c,inscor__Status__c,SOL_Link__c,pro_SOL_Sold_Price__c,pro_RO_Total_Company_Cost__c,inscor__Expected_Part_Serial__c,inscor__Original_Part_Condition__c,inscor__Expected_Part_Condition__c,inscor__Quantity_to_Repair__c,inscor__Quantity_Allocated__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>inscor__Line_Number__c:Line #, inscor__Original_Inventory_Line__c:Orig Inv, inscor__Original_Product__c:Orig PN, pro_Expected_Part_Number__c:Expected PN, inscor__Original_Part_Serial__c:Orig PN Serial, inscor__Expected_Part_Serial__c:Expected PN Serial, inscor__Original_Part_Condition__c:Orig Part Condition, inscor__Quantity_to_Repair__c:QoR, inscor__Quantity_Allocated__c:QoA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>inscor__Line_Number__c:85, inscor__Original_Inventory_Line__c:113, Inventory_Price__c:182, inscor__Original_Product__c:95, pro_Expected_Part_Number__c:135, inscor__Status__c:81, SOL_Link__c:101, pro_SOL_Sold_Price__c:130, pro_RO_Total_Company_Cost__c:50, inscor__Expected_Part_Serial__c:160, inscor__Original_Part_Condition__c:197, inscor__Expected_Part_Condition__c:218, inscor__Quantity_to_Repair__c:82, inscor__Quantity_Allocated__c:74</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Repair Order Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>DefaultedLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mass_Update_RO_Dates_Financials</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Mass Update RO Dates / Financials?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Guidance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;&quot;Since you have selected to Mass Update, please ensure you check the lines you wish to be overwritten by using the checkbox available on the far left of the datatable.&quot;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mass_Update_RO_Dates_Financials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_RO_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_RO_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Quote_Received_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Quote Received Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quote_Approved_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Quote Approved Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PartSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Expected Part&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ExpectedConditionCodeInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>inscor__Expected_Part_Condition__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Expected Part Condition</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>inscor__Repair_Order_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinancialSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Financial&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Initial_Unit_Repair_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Initial Unit Repair Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Final_Unit_Repair_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Final Unit Repair Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>CommentsSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Comment&#39;s&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Internal_Comments</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AttachmentSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Attachment&#39;s&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AttachRODoc</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select File to Attach</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_RO_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placeholder1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Expected_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cert_Received</name>
                    <dataType>Date</dataType>
                    <fieldText>Cert Received</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Placeholder</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ExpectedPN</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>inscor__Expected_Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>inscor__Repair_Order_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Expected Part Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Placeholder3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;Please note that when selecting a P/N it =&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Part_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Part Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Labor_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Labor Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Placeholder2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>External_Comments</name>
                    <fieldText>External Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mass_Update_RO_Dates_Financials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_RO_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>NumberOfLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROLToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
</Flow>
