unpackaged/main/default/flows/Prodigy_Generate_Piece_Parts_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Piece_Parts_Request_Values</name>
        <label>Assign Piece Parts Request Values</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_PiecePartRequest.pro_Repair_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_RO_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PiecePartRequest.pro_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PiecePartRequest.pro_Repair_Order_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_RO_Lines.inscor__Repair_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PiecePartRequest.pro_Request_Keyword__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_Selected_RO_Lines.inscor__Original_Part_Keyword__c} - {!Loop_Selected_RO_Lines.Inventory_ESN_MSN__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PiecePartRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PiecePartRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_RO_Lines</targetReference>
        </connector>
    </assignments>
    <description>This screen flow is designed to sit on a Repair Order record and allows a user to select RO Lines and generate Piece Part Request records.</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Generate Piece Parts Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Generate Piece Parts Requests</label>
    <loops>
        <description>The flow will now loop through each of the selected RO Lines, outputted from the Datatable in the Previous Screen element. In this loop, we will assign the necessary values for a Piece Part Request record, and store them in a collection variable, from which we will then create the records.</description>
        <name>Loop_Selected_RO_Lines</name>
        <label>Loop Selected RO Lines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>DT_ROLines.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Piece_Parts_Request_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Piece_Part_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Piece_Part_Requests</name>
        <label>Create Piece Part Requests</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>col_PiecePartRequests</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieves the Related RO Lines from the Parent Repair Order</description>
        <name>Get_RO_Lines</name>
        <label>Get RO Lines</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_RO_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Repair_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <sortField>inscor__Repair_Order_Line__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Select_RO_Lines</name>
        <label>Screen - Select RO Lines</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_RO_Lines</targetReference>
        </connector>
        <fields>
            <name>Display_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Select RO Line For Piece Part Requests&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_ROLines</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>inscor__Repair_Order_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>inscor__Repair_Order_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_RO_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>inscor__Original_Part_Serial__c,inscor__Original_Product__c,inscor__Original_Part_Keyword__c,Inventory_ESN_MSN__c,inscor__Original_Part_Condition__c,inscor__Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>inscor__Original_Part_Serial__c:0, inscor__Original_Product__c:0, inscor__Original_Part_Keyword__c:0, Inventory_ESN_MSN__c:0, inscor__Original_Part_Condition__c:0, inscor__Status__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Repair Order Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Generate Piece Part Requests</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RO_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_PiecePartRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Piece_Part_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PiecePartRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Piece_Part_Request__c</objectType>
    </variables>
</Flow>
