unpackaged/main/default/flows/Prodigy_OCR_Process_Update_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Eligible_List</name>
        <label>Add to Eligible List</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EligibleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounting_Period</name>
        <label>Assign Accounting Period</label>
        <locationX>138</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>AccountingPeriodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Comment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comment</name>
        <label>Assign Comment</label>
        <locationX>270</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>updatedPayable.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mergedComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPayable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Eligible_Lines.AcctSeed__Account_Payable__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedPayable.AcctSeed__Accounting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountingPeriodId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Eligible_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accounting_Period_found</name>
        <label>Accounting Period found?</label>
        <locationX>270</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Period</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Lines_Eligible_for_comment_update</name>
        <label>Are Lines Eligible for comment update?</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_lines.pro_Consignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_lines.pro_Consignor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Eligible_List</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_Records_found</name>
        <label>Eligible Records found?</label>
        <locationX>182</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EligibleRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Eligible_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FT 11/08/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process - Update Comments</label>
    <loops>
        <name>Loop_through_all_lines</name>
        <label>Loop through all lines</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>PayableLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_Lines_Eligible_for_comment_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Eligible_Records_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Eligible_Lines</name>
        <label>Loop through Eligible Lines</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <collectionReference>EligibleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Accounting_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payable_Line_Comment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>270</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounting_Period_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_through_Eligible_Lines.AcctSeed__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_through_Eligible_Lines.AcctSeed__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Accounting_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payable_Header</name>
        <label>Update Payable Header</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <inputReference>updatedPayable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payable_Line_Comment</name>
        <label>Update Payable Line Comment</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Update_Payable_Header</targetReference>
        </connector>
        <inputReference>EligibleRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_all_lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>mergedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_through_Eligible_Lines.pro_Consignor__c} to {!Loop_through_Eligible_Lines.pro_Consignee__c}</text>
    </textTemplates>
    <variables>
        <name>AccountingPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EligibleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
    <variables>
        <name>PayableLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
    <variables>
        <name>updatedPayable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable__c</objectType>
    </variables>
</Flow>
