unpackaged/main/default/flows/Prodigy_Bid_Due_Daily_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_0_Days_Email</name>
        <label>Send 0 Days Email</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>Asset_Acquisition__c.Asset_Acquisition_Bid_Due_Date_0_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_3_Days_Email</name>
        <label>Send 3 Days Email</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>Asset_Acquisition__c.Asset_Acquisition_Bid_Due_Date_3_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_7_Days_Email</name>
        <label>Send 7 Days Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Asset_Acquisition__c.Asset_Acquisition_Bid_Due_Date_7_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Bid_Days_Remaining</name>
        <label>Bid Days Remaining</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Due_Days_Remaining__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Due_Days_Remaining__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_7_Days_Email</targetReference>
            </connector>
            <label>7 Days</label>
        </rules>
        <rules>
            <name>X3_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Due_Days_Remaining__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Due_Days_Remaining__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_3_Days_Email</targetReference>
            </connector>
            <label>3 Days</label>
        </rules>
        <rules>
            <name>Due_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Due_Days_Remaining__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_0_Days_Email</targetReference>
            </connector>
            <label>Due Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Bid Due Daily Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Bid Due Daily Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bid_Days_Remaining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bid_Due__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bid_Due_Days_Remaining__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Bid_Due_Days_Remaining__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Asset_Acquisition__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-06</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
