unpackaged/main/default/flows/Prodigy_Remote_Request_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Current_User_to_User_Lookup</name>
        <label>Assign Current User to User Lookup</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.pro_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__r.GlicW__User__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_value_to_User_Lookup</name>
        <label>Assign value to User Lookup</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.pro_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GlicW__Resource__r.GlicW__Manager__r.GlicW__User__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Resource_have_a_Manager</name>
        <label>Does Resource have a Manager?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_User_to_User_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Resource__r.GlicW__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_to_User_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>AB 24/07/2023 - Updates to Logic
AB 21/07/2023 - Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Remote Request Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Remote Request Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Resource_have_a_Manager</targetReference>
        </connector>
        <object>GlicW__Time_Off__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
