unpackaged/main/default/flows/Prodigy_OCR_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>PayableLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PayableLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCR_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounting_Period</name>
        <label>Assign Accounting Period</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Accounting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Get_Accounting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Create_Payable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payable_Lines</name>
        <label>Assign Payable Lines</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Account_Payable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Consignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCR_Line_Loop.pro_Consignee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Consignor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCR_Line_Loop.pro_Consignor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCR_Line_Loop.pro_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCR_Line_Loop.pro_Unit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Goods_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCR_Line_Loop.pro_Document_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Create_Payable</name>
        <label>Create Payable</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Payee_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Document_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Document_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mergedComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lines_Found</name>
        <label>Lines Found?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OCR_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCR_Line_Loop</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>pro_Accounting_Period_Found</name>
        <label>Accounting Period Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>pro_Create_Payable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pro_Get_Accounting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Period</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - OCR Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process</label>
    <loops>
        <name>OCR_Line_Loop</name>
        <label>OCR Line Loop</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_OCR_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payable_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payable</name>
        <label>Create Payable</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_OCR_Lines</targetReference>
        </connector>
        <inputReference>Payable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Lines</name>
        <label>Insert Lines</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>PayableLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OCR_Lines</name>
        <label>Get OCR Lines</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lines_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_OCR_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_OCR_Document_Line__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>pro_Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pro_Accounting_Period_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.pro_Document_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.pro_Document_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Accounting_Period__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pro_Get_Accounting_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_Instruction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payable</stringValue>
            </value>
        </filters>
        <object>pro_OCR_Document__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>mergedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.pro_Consignor__c} to {!$Record.pro_Consignee__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Payable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable__c</objectType>
    </variables>
    <variables>
        <name>PayableLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
    <variables>
        <name>PayableLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
</Flow>
