unpackaged/main/default/flows/Prodigy_Time_Off.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Time_Off_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Time_Off_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>pro_Time_Off_Approval</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Part_Time</name>
        <label>Is Part Time</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Full_Time_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Part Time</defaultConnectorLabel>
        <rules>
            <name>Yes_Part_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeOff.GlicW__Half_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Part_Time_Record</targetReference>
            </connector>
            <label>Yes, Part Time</label>
        </rules>
    </decisions>
    <description>AB 23/11/2023 - Updates to Logic
AB 27/10/2023 - Updates to Logic
AB 04/09/2023 - Updates to Logic
AB 10/08/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>ListViewRedirectURL</name>
        <dataType>String</dataType>
        <expression>{!OrgDomainUrl} + &quot;lightning/o/GlicW__Time_Off__c/list?filterName=00B8X00000B6TKCUA3&quot;</expression>
    </formulas>
    <formulas>
        <name>OrgDomainUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_470}, FIND(&#39;/services&#39;, {!$Api.Partner_Server_URL_470}))</expression>
    </formulas>
    <formulas>
        <name>RecordRedirectURL</name>
        <dataType>String</dataType>
        <expression>{!OrgDomainUrl} + {!Create_Time_Off_record}</expression>
    </formulas>
    <interviewLabel>Prodigy Time Off {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy Time Off Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_Off_record</name>
        <label>Create Time Off record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>AM_PM__c</field>
            <value>
                <elementReference>TimeOff.AM_PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Days__c</field>
            <value>
                <elementReference>TimeOff.GlicW__Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__End_Date__c</field>
            <value>
                <elementReference>TimeOff.GlicW__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Half_Day__c</field>
            <value>
                <elementReference>TimeOff.GlicW__Half_Day__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Notes__c</field>
            <value>
                <elementReference>TimeOff.GlicW__Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Resource__c</field>
            <value>
                <elementReference>Employee_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Start_Date__c</field>
            <value>
                <elementReference>TimeOff.GlicW__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Type1__c</field>
            <value>
                <elementReference>TimeOff.GlicW__Type1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Certified_Sick_Leave__c</field>
            <value>
                <elementReference>TimeOff.pro_Certified_Sick_Leave__c</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Time_Off__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Employee_Details</name>
        <label>Employee Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Part_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeOff.GlicW__Resource__r.GlicW__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GlicW__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Full_Time_Record</name>
        <label>Get Full Time Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Time_Off_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full_Time</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GlicW__Time_Off__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Part_Time_Record</name>
        <label>Get Part Time Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Time_Off_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GlicW__Time_Off__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part_Time</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Time_Off_Request</name>
        <label>Time Off Request</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Employee_Details</targetReference>
        </connector>
        <fields>
            <name>Time_Off_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Time_Off_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__End_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__Resource__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Off_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__Type1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.pro_Certified_Sick_Leave__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__Notes__c</objectFieldReference>
                </fields>
                <fields>
                    <name>SubmitForApproval</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Submit for Approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TimeOff.GlicW__Resource__r.GlicW__User__r.Profile.Id</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2F00e5f000001U1I8</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Half_Day_Information</name>
            <fieldText>Half Day Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Half_Day_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.GlicW__Half_Day__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Half_Day_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TimeOff.AM_PM__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Off_Submitted</name>
        <label>Time Off Submitted</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmissionDisplayText</name>
            <fieldText>&lt;p&gt;Your Time Off request has been Created and Submitted for Approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!ListViewRedirectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Return to List&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!RecordRedirectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go to Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_Off_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GlicW__Time_Off__c</objectType>
    </variables>
</Flow>
