unpackaged/main/default/flows/Prodigy_Time_Off_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Approved</name>
        <label>Email Approved</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>GlicW__Time_Off__c.GlicW__Time_off_approved_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Time_Off_Rejected</name>
        <label>Email Time Off Rejected</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>GlicW__Time_Off__c.GlicW__Time_Off_rejected_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Status</name>
        <label>Is Status?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Approved_Event</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GlicW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Time_Off_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EventEndDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!$Record.GlicW__End_Date__c})&amp;&quot; &quot;&amp; &quot;07:30:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>EventStartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!$Record.GlicW__Start_Date__c})&amp;&quot; &quot;&amp; &quot;07:30:00&quot;)</expression>
    </formulas>
    <interviewLabel>Prodigy - Time Off Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Time Off Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Approved_Event</name>
        <label>Create Approved Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Email_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.GlicW__Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EventEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.pro_User_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>EventStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.GlicW__Resource__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status</targetReference>
        </connector>
        <object>GlicW__Time_Off__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EventSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.GlicW__Type1__c} Submission Approved</text>
    </textTemplates>
    <textTemplates>
        <name>RejectedTimeOff</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Time Off Submission Rejected</text>
    </textTemplates>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
