unpackaged/main/default/flows/Prodigy_Daily_Out_Of_Office_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns the current item to the collection variable.</description>
        <name>Assign_Employee_Details_to_Collection_Remote_Work_Request</name>
        <label>Assign Employee Details to Collection (Remote Work Request)</label>
        <locationX>440</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>IsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Remote_Work_Request.pro_Employee_Remote_Request__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Remote_Work_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current Item from the Loop to a collection variable</description>
        <name>Assign_to_Collection_Variable_Time_Off</name>
        <label>Assign to Collection Variable (Time Off)</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>IsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Records_Time_Off.GlicW__Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records_Time_Off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current record to list of Employees in the Office</description>
        <name>Assign_to_In_Office_List</name>
        <label>Assign to In Office List</label>
        <locationX>440</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection.pro_Out_of_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeesInOffice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the current item in the record collection has a time off or remote work request.</description>
        <name>Do_values_Match</name>
        <label>Do values Match</label>
        <locationX>352</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>Assign_to_In_Office_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records do not Match</defaultConnectorLabel>
        <rules>
            <name>Records_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Collection</targetReference>
            </connector>
            <label>Records Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Collection variable contains the current item from the loop.</description>
        <name>Does_Collection_contain_Record_Remote_Work_Request</name>
        <label>Does Collection contain Record? (Remote Work Request)</label>
        <locationX>352</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Assign_Employee_Details_to_Collection_Remote_Work_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Remote_Work_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Remote_Work_Request.pro_Employee_Remote_Request__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Remote_Work_Request</targetReference>
            </connector>
            <label>Yes (Remote Work Request)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Collection_contain_Record_Time_Off</name>
        <label>Does Collection contain Record? (Time Off)</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Collection_Variable_Time_Off</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Time_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Records_Time_Off.GlicW__Resource__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Records_Time_Off</targetReference>
            </connector>
            <label>Yes (Time Off)</label>
        </rules>
    </decisions>
    <description>AB 04/09/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Daily Out Of Office After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Daily Out Of Office After Update</label>
    <loops>
        <name>Loop_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>176</locationX>
        <locationY>1560</locationY>
        <collectionReference>CollectionofRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_values_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Out_of_Office_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through all of the previously retrieved Time Off records.</description>
        <name>Loop_Through_Records_Time_Off</name>
        <label>Loop Through Records Time Off</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Time_Off_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Collection_contain_Record_Time_Off</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Remote_Work_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Remote_Work_Request</name>
        <label>Loop Through Remote Work Request</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <collectionReference>Get_Remote_Work_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Collection_contain_Record_Remote_Work_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Employee_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Details</name>
        <label>Get Employee Details</label>
        <locationX>176</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
        <object>GlicW__Resource__c</object>
        <outputReference>CollectionofRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pro_Out_of_Office__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all of the Remote Work Requests that are Approved and fall within the specified date range.</description>
        <name>Get_Remote_Work_Records</name>
        <label>Get Remote Work Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Records_Time_Off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Remote_Work_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all of the Time Off records that are Approved and falls within the specified Date range</description>
        <name>Get_Time_Off_Records</name>
        <label>Get Time Off Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Remote_Work_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GlicW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>GlicW__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GlicW__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GlicW__Time_Off__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_In_Office_Records</name>
        <label>Update In Office Records</label>
        <locationX>176</locationX>
        <locationY>2160</locationY>
        <inputReference>EmployeesInOffice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Out_of_Office_Records</name>
        <label>Update Out of Office Records</label>
        <locationX>176</locationX>
        <locationY>2052</locationY>
        <connector>
            <targetReference>Update_In_Office_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IsCollection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Out_of_Office__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>GlicW__Resource__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Off_Records</targetReference>
        </connector>
        <object>GlicW__Resource__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-05</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionofRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GlicW__Resource__c</objectType>
    </variables>
    <variables>
        <name>EmployeesInOffice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GlicW__Resource__c</objectType>
    </variables>
    <variables>
        <name>IsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
