unpackaged/main/default/flows/Prodigy_OCR_Process_Create_Payable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Accounting_Period</name>
        <label>Assign Accounting Period</label>
        <locationX>204</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Accounting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Get_Accounting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payable_with_Same_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_File_to_Payable</name>
        <label>Assignee File to Payable</label>
        <locationX>248</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>PayableDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_file_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_File_Link_to_Payable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuanityToONe</name>
        <label>assignQuanityToONe</label>
        <locationX>446</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isUnitAmountNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUnitAmountIfNull</name>
        <label>assignUnitAmountIfNull</label>
        <locationX>446</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payable_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Payable_Line</name>
        <label>Create Payable Line</label>
        <locationX>578</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Unit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Consignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Consignee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Consignor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Consignor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.pro_Goods_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OCR_Lines.pro_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Account_Payable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.AcctSeed__Expense_GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2i5f000000YhQqAAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayableLine.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mergedCommentLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsQuanityZero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payable_Lines</name>
        <label>Payable Lines</label>
        <locationX>578</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>PayableLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PayableLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OCR_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Create_Payable</name>
        <label>Create Payable</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Payee_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Document_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Document_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OCR_Document.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.AcctSeed__Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payable.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mergedComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OCR_Doc_With_Payable</name>
        <label>Update OCR Doc With Payable</label>
        <locationX>336</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Get_OCR_Document.pro_payable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OCR_Doc_Record_With_Payable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Payable_with_Old_Payable</name>
        <label>Update Payable with Old Payable</label>
        <locationX>160</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Payable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payable_with_Same_Reference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OCR_Doc_With_Payable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_OCR_Document_Found</name>
        <label>Is OCR Document Found?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OCR_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pro_Get_Accounting_Period</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Old_File_Doc_Link</name>
        <label>is Old File Doc Link ?</label>
        <locationX>160</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assignee_File_to_Payable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doc_Link_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_File_Doc_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OCR_Document_Lines</targetReference>
            </connector>
            <label>Doc Link Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Old_Payable_Line</name>
        <label>is Old Payable Line ?</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Loop_through_OCR_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Payable_Line_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Old_Payable_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Old Payable Line Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFileExistsOnDoc</name>
        <label>IsFileExistsOnDoc</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Get_OCR_Document_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Exists_on_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OCR_Document.pro_file_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_File_Doc_Link</targetReference>
            </connector>
            <label>File Exists on Doc</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuanityZero</name>
        <label>IsQuanityZero</label>
        <locationX>578</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>isUnitAmountNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZeroToOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PayableLine.AcctSeed__Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignQuanityToONe</targetReference>
            </connector>
            <label>ZeroToOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTherePreviousPayable</name>
        <label>IsTherePreviousPayable?</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>pro_Create_Payable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Payable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payable_with_Same_Reference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payable_with_Old_Payable</targetReference>
            </connector>
            <label>Old Payable</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUnitAmountNull</name>
        <label>isUnitAmountNull?</label>
        <locationX>578</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Payable_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unityAmountIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PayableLine.AcctSeed__Unit_Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayableLine.AcctSeed__Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignUnitAmountIfNull</targetReference>
            </connector>
            <label>unityAmountIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>OCR_Lines_exist</name>
        <label>OCR Lines exist?</label>
        <locationX>336</locationX>
        <locationY>2606</locationY>
        <defaultConnectorLabel>Lines Don&#39;t Exist</defaultConnectorLabel>
        <rules>
            <name>Lines_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OCR_Document_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Old_Payable_Lines</targetReference>
            </connector>
            <label>Lines Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payable_Created</name>
        <label>Payable Created?</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Not Created</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OCR_Doc_With_Payable</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>pro_Accounting_Period_Found</name>
        <label>Accounting Period Found?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Payable_with_Same_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pro_Get_Accounting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Period</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Updated for DHL quantity from zero to one</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - OCR Process - Create Payable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process - Create Payable &amp; Payable Lines</label>
    <loops>
        <name>Loop_through_OCR_Lines</name>
        <label>Loop through OCR Lines</label>
        <locationX>358</locationX>
        <locationY>2930</locationY>
        <collectionReference>Get_OCR_Document_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Payable_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Payable_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_File_Link_to_Payable</name>
        <label>Create File Link to Payable</label>
        <locationX>248</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_OCR_Document_Lines</targetReference>
        </connector>
        <inputReference>PayableDocumentLink</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable</name>
        <label>Create Payable</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Payable_Created</targetReference>
        </connector>
        <inputReference>Payable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Payable_Lines</name>
        <label>Insert Payable Lines</label>
        <locationX>358</locationX>
        <locationY>3938</locationY>
        <inputReference>PayableLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OCR_Document</name>
        <label>Get OCR Document</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_OCR_Document_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCRDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_OCR_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OCR_Document_Lines</name>
        <label>Get OCR Document Lines</label>
        <locationX>336</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OCR_Lines_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_OCR_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCRDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_OCR_Document_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_File_Doc_Link</name>
        <label>Get Old File Doc Link</label>
        <locationX>160</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Old_File_Doc_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_file_c__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Old_Payable_Lines</name>
        <label>get Old Payable Lines</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Old_Payable_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payable_with_Same_Reference</name>
        <label>Get Payable with Same Reference</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTherePreviousPayable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Payee_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Document_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Account_Payable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>pro_Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pro_Accounting_Period_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Document_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_OCR_Document.pro_Document_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Accounting_Period__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OCR_Doc_Record_With_Payable</name>
        <label>Update OCR Doc Record With Payable</label>
        <locationX>336</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>IsFileExistsOnDoc</targetReference>
        </connector>
        <inputReference>Get_OCR_Document</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OCR_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>mergedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_OCR_Document.pro_Consignor__c} to {!Get_OCR_Document.pro_Consignee__c}</text>
    </textTemplates>
    <textTemplates>
        <name>mergedCommentLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_through_OCR_Lines.pro_Consignor__c} to {!Loop_through_OCR_Lines.pro_Consignee__c}</text>
    </textTemplates>
    <variables>
        <name>OCRDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable__c</objectType>
    </variables>
    <variables>
        <name>PayableDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>PayableLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
    <variables>
        <name>PayableLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeed__Account_Payable_Line__c</objectType>
    </variables>
</Flow>
