unpackaged/main/default/flows/Prodigy_OCR_Process_RO_Avsight_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_RO_Voucher_Prodigy_Per_OCR_Line</name>
        <label>Do RO Voucher [Prodigy] Per OCR Line</label>
        <locationX>396</locationX>
        <locationY>1106</locationY>
        <actionName>ProdigyROVoucher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isVoFailed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <dateValue>2023-12-24</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invcDate</name>
            <value>
                <elementReference>Get_Doc.pro_Document_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invcNumber</name>
            <value>
                <elementReference>Get_Doc.pro_Document_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrder</name>
            <value>
                <elementReference>Doc_Line_RO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrderLines</name>
            <value>
                <elementReference>currentRepairOrderLines</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setCurrentRepairOrderLinesOCRDocLine</name>
        <label>setCurrentRepairOrderLinesOCRDocLine</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentRepairOrderLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRepairOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_RO_Voucher_Prodigy_Per_OCR_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRepairOrderLineOCRLine</name>
        <label>setRepairOrderLineOCRLine</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Repair_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Doc_Line_RO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Original_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Doc_Line_Partnumber.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Final_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Doc_Lines.pro_Unit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Quantity_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Doc_Lines.pro_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCurrentRepairOrderLinesOCRDocLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOCRLineStatusDeffered</name>
        <label>UpdateOCRLineStatusDeffered</label>
        <locationX>792</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>loop_Doc_Lines.pro_ROVoucherStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayableLineStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOCRLineStatusDeffered2</name>
        <label>UpdateOCRLineStatusDeffered</label>
        <locationX>1056</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>loop_Doc_Lines.pro_ROVoucherStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayableLineStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOCRLineStatusFailed</name>
        <label>UpdateOCRLineStatusFailed</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>loop_Doc_Lines.pro_ROVoucherStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Doc_Lines.pro_ROVoucherError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_RO_Voucher_Prodigy_Per_OCR_Line.error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayableLineStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOCRLineStatusSuccess</name>
        <label>UpdateOCRLineStatusSuccess</label>
        <locationX>528</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>loop_Doc_Lines.pro_ROVoucherStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vouchered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayableLineStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_part_exists</name>
        <label>Is part exists ?</label>
        <locationX>594</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>UpdateOCRLineStatusDeffered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doc_Line_Partnumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRepairOrderLineOCRLine</targetReference>
            </connector>
            <label>PartExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_RO_Exists</name>
        <label>is RO Exists ?</label>
        <locationX>825</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>UpdateOCRLineStatusDeffered2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doc_Line_RO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doc_Line_Partnumber</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>isVoFailed</name>
        <label>isVoFailed?</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>UpdateOCRLineStatusSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VOFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_RO_Voucher_Prodigy_Per_OCR_Line.isFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOCRLineStatusFailed</targetReference>
            </connector>
            <label>VOFailed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - OCR Process - RO - Avsight Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process - RO - Avsight Integration</label>
    <loops>
        <name>loop_Doc_Lines</name>
        <label>loop_Doc_Lines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Doc_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Doc_Line_RO</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Doc_Line_Partnumber</name>
        <label>Doc_Line_Partnumber</label>
        <locationX>594</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_part_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Doc_Lines.pro_Reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Doc_Line_RO</name>
        <label>Doc_Line_RO</label>
        <locationX>825</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_RO_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Doc_Lines.pro_Description__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Repair_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc</name>
        <label>Get Doc</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCRDocId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_OCR_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Lines</name>
        <label>Get Doc Lines</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Doc_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_OCR_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCRDocId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_ROVoucherStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Vouchered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_OCR_Document_Line__c</object>
        <sortField>pro_Description__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePayableLineStatus</name>
        <label>UpdatePayableLineStatus</label>
        <locationX>825</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>loop_Doc_Lines</targetReference>
        </connector>
        <inputReference>loop_Doc_Lines</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Doc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentRepairOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>currentRepairOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>OCRDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnumbersID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
