unpackaged/main/default/flows/Prodigy_Duplicate_check_on_Asset_Acquisition_ESN_MSN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Duplicate_Flag</name>
        <label>Set Duplicate Flag</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>DuplicateFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_other_Asset_Acquisitions_with_same_ESN_MSN_Number.ESN_MSN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicates_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicates_Found</name>
        <label>Duplicates Found</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_Flag_Asset_Acquisition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy Duplicate check on Asset Acquisition ESN/MSN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy Duplicate check on Asset Acquisition ESN/MSN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_other_Asset_Acquisitions_with_same_ESN_MSN_Number</name>
        <label>Find other Asset Acquisitions with same ESN/MSN Number</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Duplicate_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ESN_MSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ESN_MSN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset_Acquisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Duplicate_Flag_Asset_Acquisition</name>
        <label>Set Duplicate Flag Asset Acquisition</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Duplicate_Found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_other_Asset_Acquisitions_with_same_ESN_MSN_Number</targetReference>
        </connector>
        <object>Asset_Acquisition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DuplicateFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
