unpackaged/main/default/flows/Prodigy_OCR_Process_RO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Credit_Journal_Entry_Line_to_Collection</name>
        <label>Add Credit Journal Entry Line to Collection</label>
        <locationX>138</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>JournalEntryLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JournalEntryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Repair_Order_Line_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Debit_Journal_Entry_Lines_to_Collection</name>
        <label>Add Debit Journal Entry Lines to Collection</label>
        <locationX>138</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>JournalEntryLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JournalEntryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_credit_Journal_Entry_Line_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Journal_Entry_to_Collection</name>
        <label>Add Journal Entry to Collection</label>
        <locationX>138</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>JournalEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JournalEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_debt_Journal_Entry_Line_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Payment_Voucher_to_Collection</name>
        <label>Add Payment Voucher to Collection</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>PaymentVoucherCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Transaction_Activity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Receipt_to_Collection</name>
        <label>Add Receipt to Collection</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ReceiptCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Payment_Voucher_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Repair_Order_to_Collection</name>
        <label>Add Repair Order to Collection</label>
        <locationX>138</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>RepairOrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RepairOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RO_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RO_to_List</name>
        <label>Add RO to List</label>
        <locationX>2976</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RONumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCR_Lines.pro_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCR_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transaction_Activity_to_Collection</name>
        <label>Add Transaction Activity to Collection</label>
        <locationX>138</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>TransactionActivityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransactionActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_credit_Journal_Entry_Line_fields</name>
        <label>Assign credit Journal Entry Line fields</label>
        <locationX>138</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Final_Unit_Repair_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Inventory_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voucher_Payable_GL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.inscor__Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Credit_Journal_Entry_Line_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_debt_Journal_Entry_Line_fields</name>
        <label>Assign debt Journal Entry Line fields</label>
        <locationX>138</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Debit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Final_Unit_Repair_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Inventory_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prepayments_GL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntryLine.AcctSeed__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.inscor__Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Debit_Journal_Entry_Lines_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_fields</name>
        <label>Assign Journal Entry fields</label>
        <locationX>138</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>JournalEntry.inscoras__Repair_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntry.AcctSeed__Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntry.AcctSeed__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntry.AcctSeed__Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ledger.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JournalEntry.inscoras__Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Journal_Entry_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Voucher_fields</name>
        <label>Assign Payment Voucher fields</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__PN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.inscor__Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.inscor__Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Expected_Part_Serial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__PO_or_RO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__PO_or_RO_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Quantity_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Quantity_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Quantity_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Quantity_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Final_Unit_Repair_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Date_of_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Quantity_To_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVoucher.inscor__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Payment_Voucher_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Fields</name>
        <label>Assign Receipt Fields</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Finalize_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Create_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Repair_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Repair_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Inventory_Line_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Inventory_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Doc_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Final_Unit_Repair_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Final_Unit_Repair_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Quantity_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Quantity_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Quantity_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Quantity_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Receipt.inscor__Serial_Number_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Original_Part_Serial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Receipt_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repair_Order_Line_Status</name>
        <label>Assign Repair Order Line Status</label>
        <locationX>138</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>ROL_Loop.inscor__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vouchered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROL_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repair_Order_Status</name>
        <label>Assign Repair Order Status</label>
        <locationX>138</locationX>
        <locationY>3842</locationY>
        <assignmentItems>
            <assignToReference>RepairOrder.inscor__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vouchered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RepairOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RO_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Repair_Order_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Activity_fields</name>
        <label>Assign Transaction Activity fields</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Doc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Customer_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROL_Loop.inscor__Repair_Order__r.inscor__Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionActivity.inscor__Vouchers_Payable_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voucher_Payable_GL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transaction_Activity_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Repair_Order_Lines_Found</name>
        <label>Any Repair Order Lines Found?</label>
        <locationX>1766</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>ROLs not found</defaultConnectorLabel>
        <rules>
            <name>ROLs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Repair_Order_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_General_Creditor_GL</targetReference>
            </connector>
            <label>ROLs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Reference_contain_RO</name>
        <label>Does Reference contain RO?</label>
        <locationX>3108</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>OCR_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&#39;t Contain RO</defaultConnectorLabel>
        <rules>
            <name>Contains_RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCR_Lines.pro_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RO-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RO_to_List</targetReference>
            </connector>
            <label>Contains RO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RO_List_populated</name>
        <label>Is RO List populated?</label>
        <locationX>2888</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RONumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Repair_Order_Lines</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>MD 02/11/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - OCR Process - RO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - OCR Process - RO</label>
    <loops>
        <name>OCR_Lines</name>
        <label>OCR Lines</label>
        <locationX>2888</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_OCR_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Reference_contain_RO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_RO_List_populated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RO_Loop</name>
        <label>RO Loop</label>
        <locationX>50</locationX>
        <locationY>3734</locationY>
        <collectionReference>Get_ROs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Repair_Order_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Repair_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ROL_Loop</name>
        <label>ROL Loop</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <collectionReference>Get_Repair_Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Receipt_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Receipts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_with_Get_Accounting_Period</name>
        <label>Error with Get Accounting Period</label>
        <locationX>2426</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get Accounting Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get Accounting Period)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_General_Creditor_GL</name>
        <label>Error with Get General Creditor GL</label>
        <locationX>3218</locationX>
        <locationY>1166</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get General Creditor GL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get General Creditor GL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_Ledger</name>
        <label>Error with Get Ledger</label>
        <locationX>2690</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get Ledger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get Ledger)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_OCR_Lines</name>
        <label>Error with Get OCR Lines</label>
        <locationX>4274</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get OCR Lines</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get OCR Lines)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_Prepayments_GL</name>
        <label>Error with Get Prepayments GL</label>
        <locationX>2162</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get Prepayments GL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get Prepayments GL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_Repair_Order_Lines</name>
        <label>Error with Get Repair Order Lines</label>
        <locationX>3746</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get Repair Order Lines</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get Repair Order Lines)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_ROs</name>
        <label>Error with Get ROs</label>
        <locationX>842</locationX>
        <locationY>3734</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Error with Get ROs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Error with Get ROs)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Get_Voucher_Payable_GL</name>
        <label>Error with Get Voucher Payable GL</label>
        <locationX>2954</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Get Voucher Payable GL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Get Voucher Payable GL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Insert_Insert_Receipts</name>
        <label>Error with Insert Insert Receipts</label>
        <locationX>1898</locationX>
        <locationY>3302</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Insert Insert Receipts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Insert Insert Receipts)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Insert_Journal_Entries</name>
        <label>Error with Insert Journal Entries</label>
        <locationX>1106</locationX>
        <locationY>3626</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Insert Journal Entries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Insert Journal Entries)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Insert_Payment_Vouchers</name>
        <label>Error with Insert Payment Vouchers</label>
        <locationX>1634</locationX>
        <locationY>3410</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Insert Payment Vouchers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Insert Payment Vouchers)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Insert_Transaction_Activities</name>
        <label>Error with Insert Transaction Activities</label>
        <locationX>1370</locationX>
        <locationY>3518</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Insert Transaction Activities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Insert Transaction Activities)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Update_Repair_Order_Lines</name>
        <label>Error with Update Repair Order Lines</label>
        <locationX>314</locationX>
        <locationY>4358</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Update Repair Order Lines</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Update Repair Order Lines)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_with_Update_Update_Repair_Orders</name>
        <label>Error with Update Update Repair Orders</label>
        <locationX>578</locationX>
        <locationY>4250</locationY>
        <inputAssignments>
            <field>GlicW__Error_Message__c</field>
            <value>
                <stringValue>Error with Update Repair Orders</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Error_Trace__c</field>
            <value>
                <stringValue>Prodigy - OCR Process - RO (Update Repair Orders)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GlicW__Related_Records__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GlicW__Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Journal_Entries</name>
        <label>Insert Journal Entries</label>
        <locationX>50</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Get_ROs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Insert_Journal_Entries</targetReference>
        </faultConnector>
        <inputReference>JournalEntryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Payment_Vouchers</name>
        <label>Insert Payment Vouchers</label>
        <locationX>50</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>Insert_Transaction_Activities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Insert_Payment_Vouchers</targetReference>
        </faultConnector>
        <inputReference>PaymentVoucherCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Receipts</name>
        <label>Insert Receipts</label>
        <locationX>50</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>Insert_Payment_Vouchers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Insert_Insert_Receipts</targetReference>
        </faultConnector>
        <inputReference>ReceiptCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Transaction_Activities</name>
        <label>Insert Transaction Activities</label>
        <locationX>50</locationX>
        <locationY>3410</locationY>
        <connector>
            <targetReference>Insert_Journal_Entries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Insert_Transaction_Activities</targetReference>
        </faultConnector>
        <inputReference>TransactionActivityCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounting_Period</name>
        <label>Get Accounting Period</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prepayments_GL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_Accounting_Period</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Accounting_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Creditor_GL</name>
        <label>Get General Creditor GL</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voucher_Payable_GL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_General_Creditor_GL</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>20101</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ledger</name>
        <label>Get Ledger</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounting_Period</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_Ledger</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IRL EirTrade Aviation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Ledger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OCR_Lines</name>
        <label>Get OCR Lines</label>
        <locationX>2888</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OCR_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_OCR_Lines</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_OCR_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_OCR_Document_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prepayments_GL</name>
        <label>Get Prepayments GL</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ROL_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_Prepayments_GL</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>10503</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__GL_Account__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Repair_Order_Lines</name>
        <label>Get Repair Order Lines</label>
        <locationX>1766</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Repair_Order_Lines_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_Repair_Order_Lines</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Repair_Order_Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RONumbers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ROs</name>
        <label>Get ROs</label>
        <locationX>50</locationX>
        <locationY>3626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RO_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_ROs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>RONumbers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Repair_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voucher_Payable_GL</name>
        <label>Get Voucher Payable GL</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ledger</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Get_Voucher_Payable_GL</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>20104</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__GL_Account__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Repair_Order_Lines</name>
        <label>Update Repair Order Lines</label>
        <locationX>50</locationX>
        <locationY>4250</locationY>
        <faultConnector>
            <targetReference>Error_with_Update_Repair_Order_Lines</targetReference>
        </faultConnector>
        <inputReference>Get_Repair_Order_Lines</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Repair_Orders</name>
        <label>Update Repair Orders</label>
        <locationX>50</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>Update_Repair_Order_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Update_Update_Repair_Orders</targetReference>
        </faultConnector>
        <inputReference>RepairOrderCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>2762</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OCR_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JournalEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>JournalEntryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>JournalEntryLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Journal_Entry_Line__c</objectType>
    </variables>
    <variables>
        <name>JournalEntryLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Journal_Entry_Line__c</objectType>
    </variables>
    <variables>
        <name>PaymentVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Payment_Voucher__c</objectType>
    </variables>
    <variables>
        <name>PaymentVoucherCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Payment_Voucher__c</objectType>
    </variables>
    <variables>
        <name>Receipt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Receipt__c</objectType>
    </variables>
    <variables>
        <name>ReceiptCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Receipt__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepairOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order__c</objectType>
    </variables>
    <variables>
        <name>RepairOrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order__c</objectType>
    </variables>
    <variables>
        <name>RONumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Activity__c</objectType>
    </variables>
    <variables>
        <name>TransactionActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Activity__c</objectType>
    </variables>
</Flow>
