unpackaged/main/default/flows/Prodigy_Update_RO_Feature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Current_Row_Item_to_List</name>
        <label>Add Current Row Item to List</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_Selected_Rows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Selected_RO_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Selected_RO_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Quote_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Received_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Quote_Approved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Approved_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Expected_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Updated_Promise_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cert_Received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Part_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Initial_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro2_Initial_Unit_Repair_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Labor_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Labor_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Internal_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__External_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_External_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Selected_RO_Lines.inscor__Final_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Unit_Repair_Cost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Row_Item_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Update RO Feature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Update RO Feature</label>
    <loops>
        <name>All_Selected_RO_Lines</name>
        <label>All Selected RO Lines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>RO_Lines_List.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RO_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RO_Lines</name>
        <label>RO Lines</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Repair_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Repair_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RO_Line</name>
        <label>Update RO Line</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>v_Selected_Rows</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_RO</name>
        <label>Update RO</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>All_Selected_RO_Lines</targetReference>
        </connector>
        <fields>
            <name>Update_RO_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_RO_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RO_Lines_List</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>inscor__Repair_Order_Line__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>RO Lines</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>RO_Lines</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0601&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;RO Line ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Original_Part_Number__c&quot;,&quot;guid&quot;:&quot;column-75d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Original Part Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Expected_Part_Number__c&quot;,&quot;guid&quot;:&quot;column-2bba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Expected Part Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Sales_Order__c&quot;,&quot;guid&quot;:&quot;column-d51f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Sales Order&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;inscor__Original_Part_Serial__c&quot;,&quot;guid&quot;:&quot;column-e681&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Original Part Serial&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;inscor__Expected_Part_Serial__c&quot;,&quot;guid&quot;:&quot;column-5c02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Expected Part Serial&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Expected_Part_Condition__c&quot;,&quot;guid&quot;:&quot;column-4f46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Expected Part Condition&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_RO_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateHead</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Quote_Received_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Quote Received Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quote_Approved_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Quote Approved Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FinancialHead</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Financial&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pro2_Initial_Unit_Repair_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Initial Unit Repair Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Final_Unit_Repair_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Final Unit Repair Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>CommentsHead</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Comments&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pro_Internal_Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RepairOrderFiles</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_RO_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;Dates&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Expected_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cert_Received</name>
                    <dataType>Date</dataType>
                    <fieldText>Cert Received</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BLANK2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;Financial&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Part_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Part Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>pro_Labor_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Labor Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>BLANK3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;Comments&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pro_External_Comments</name>
                    <dataType>String</dataType>
                    <fieldText>External Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Please select a RO Line from the list provided and update the relevant fields below.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RO_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_Selected_Rows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
</Flow>
