unpackaged/main/default/flows/Prodigy_Remote_Work_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Status</name>
        <label>Is Status?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_the_event</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>AB 30/08/2023 - Created by Prodigy</description>
    <environments>Default</environments>
    <formulas>
        <name>Event_EndDaate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!$Record.pro_End_Date__c})&amp;&quot; &quot;&amp; &quot;07:30:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>Event_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!$Record.pro_Start_Date__c})&amp;&quot; &quot;&amp; &quot;07:30:00&quot;)</expression>
    </formulas>
    <interviewLabel>Prodigy - Remote Work Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Remote Work Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_the_event</name>
        <label>Create the event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.pro_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Event_EndDaate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.pro_Employee_Remote_Request__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Event_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status</targetReference>
        </connector>
        <object>Remote_Work_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EventBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Remote Work Submission Approved.</text>
    </textTemplates>
</Flow>
