unpackaged/main/default/flows/Project_Rollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>RevenueSum</name>
        <label>RevenueSum</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RevenueRoolup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumBillings.AcctSeed__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumBillings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumExpenses</name>
        <label>SumExpenses</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ExpensesRollup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumPayables.AcctSeed__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumPayables</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Project Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Rollups</label>
    <loops>
        <name>SumBillings</name>
        <label>SumBillings</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Billings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RevenueSum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Payables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SumPayables</name>
        <label>SumPayables</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Payables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumExpenses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billings</name>
        <label>Get Billings</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumBillings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Billing_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payables</name>
        <label>Get Payables</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumPayables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Account_Payable_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Total_Expenses__c</field>
            <value>
                <elementReference>ExpensesRollup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Revenue__c</field>
            <value>
                <elementReference>RevenueRoolup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billings</targetReference>
        </connector>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpensesRollup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RevenueRoolup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
