unpackaged/main/default/flows/Release_Update_SO_Contact_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>If_Contact_Exists</name>
        <label>If Contact Exists</label>
        <locationX>768</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Sales_Order__r.inscor__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Release_SO_Contact_Email</targetReference>
            </connector>
            <label>Does Contact Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Release-Update SO Contact Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release-Update SO Contact Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Release_SO_Contact_Email</name>
        <label>Update Release SO Contact Email</label>
        <locationX>1074</locationX>
        <locationY>354</locationY>
        <inputAssignments>
            <field>SO_Contact_Email__c</field>
            <value>
                <elementReference>$Record.inscor__Sales_Order__r.inscor__Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Release_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Order</stringValue>
            </value>
        </filters>
        <object>inscor__Release__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
