unpackaged/main/default/flows/Tax_Amount_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>TaxAmount</name>
        <dataType>Currency</dataType>
        <expression>({!Get_Destination_Code.Tax_Rate__c}/100)*{!$Record.AcctSeed__Sub_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Tax Amount Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax Amount Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Destination_Code</name>
        <label>Get Destination Code</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tax_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeed__Billing__r.AcctSeed__Customer__r.inscor__Tax_Destination_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Tax_Destination_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tax_Amount</name>
        <label>Update Tax Amount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AcctSeed__Tax_Amount2__c</field>
            <value>
                <elementReference>TaxAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Destination_Code</targetReference>
        </connector>
        <object>AcctSeed__Billing_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
