unpackaged/main/default/flows/Test_Action_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_RO_Voucher_Action_Prodigy</name>
        <label>Do RO Voucher Action [Prodigy]</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>ProdigyROVoucher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <dateValue>2023-12-24</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invcDate</name>
            <value>
                <dateValue>2023-12-11</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invcNumber</name>
            <value>
                <stringValue>INV202312151209</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrder</name>
            <value>
                <elementReference>currentRO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrderLines</name>
            <value>
                <elementReference>currentRepairOrderLines</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setCurrentRepairOrderLine</name>
        <label>setCurrentRepairOrderLine</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Repair_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Original_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t5f000000n8g0AAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRepairOrderLine.inscor__Final_Unit_Repair_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>278.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCurrentRepairOrderLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCurrentRepairOrderLines</name>
        <label>setCurrentRepairOrderLines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>currentRepairOrderLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRepairOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_RO_Voucher_Action_Prodigy</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Test_Action_Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test_Action_Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>currentRO</name>
        <label>currentRO</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCurrentRepairOrderLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RO-25070</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Repair_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>testScreen</name>
            <fieldText>&lt;p&gt;{!Do_RO_Voucher_Action_Prodigy.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>currentRO</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentRepairOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>currentRepairOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Repair_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>partnumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnumbersID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
