unpackaged/main/default/flows/Update_Tax_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Tax_Rate_Matches_Destination</name>
        <label>Tax Rate Matches Destination</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tax.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rate</targetReference>
            </connector>
            <label>Match Rate</label>
        </rules>
    </decisions>
    <interviewLabel>Update Tax on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Tax on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tax</name>
        <label>Create Tax</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AcctSeed__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Tax_Rate__c</field>
            <value>
                <elementReference>$Record.inscor__Tax_Destination_Code__r.Tax_Rate_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Tax_Type__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Tax__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Tax</name>
        <label>Get Tax</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Rate_Matches_Destination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Account_Tax__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rate</name>
        <label>Update Rate</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeed__Tax_Rate__c</field>
            <value>
                <elementReference>$Record.inscor__Tax_Destination_Code__r.Tax_Rate_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Tax__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Tax_Destination_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Tax_Destination_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>a3i5f000000nalBAAQ</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
